.home {
  margin: auto;
  max-width: 280px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-top {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.home-top > h3,
h2 {
  margin: 8px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.home-bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.create-new-game {
  margin: auto 14px;
  position: fixed;
  bottom: 1rem;
}

.create-new-game > button {
  background-color: rgb(17, 17, 45);
  color: white;
  box-shadow: 3px 3px 8px -3px rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  padding: 5px;
  border: none;
}

/* Games CSS */
.games {
  margin: 1rem auto 1rem auto;
  max-width: 280px;
  flex-direction: column;
  position: relative;
  height: 90vh;
}
.games-card {
  margin: 8px;
  padding: 6px 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 8px -3px rgba(0, 0, 0, 0.75);
}
p {
  font-size: small;
}
span {
  font-size: small;
  margin-top: 8px;
}

/* new game CSS */

.cross-img {
  font-size: 60px;
  line-height: 40px;
  font-weight: 700;
  color: rgb(90, 52, 227);
  height: 4.5rem;
  width: 4.5rem;
}
.zero-img {
  font-size: 50px;
  line-height: 40px;
  font-weight: 700;
  color: rgb(227, 52, 52);
  height: 4.5rem;
  width: 4.5rem;
}
.player-turn {
  margin-top: 18px;
  padding: 4px;
  background-color: rgb(246, 221, 133);
  display: flex;
  justify-content: center;
  align-items: center;
}

.move-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
}
.move-grid > * {
  border: 2px solid rgb(245 185 50);
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
