.container {
  margin: auto;
  max-width: 280px;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.back-button {
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 10px;
}

.back-button > button {
  margin: 5px 4px;
  background: none;
  border: none;
  width: 15px;
  height: 15px;
}

.content {
  margin: 18px 0;
}

.content > h2 {
  margin: 0;
}

.container-form {
  width: 100%;
}

input {
  border: none;
  padding: 10px 8px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 91%;
  margin: 5px 0;
  border-radius: 6px;
}

.submit-button {
  margin: 10px 0;
  padding: 10px;
  background: none;
  border: none;
  width: 100%;
  background-color: rgb(232, 240, 18);
  border-radius: 4px;
  color: white;
}
